@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');


// Variaveis Cor
$color-blue: #2813A4;
$color-black: #111111;
$color-gray: #161c2dd8;
$color-white: #fff;
$color-bg-white: #FCFCFC;


