@use "../../styles/variables.scss" as *;

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: $color-white;
  color: $color-white;
  font-family: "Goldman", sans-serif;
  position: fixed;
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;

  @media (max-width: 922px) {
    justify-content: space-between;
    padding: 0px 10vw;
    .nav {
      display: none;
    }
  }

  .logo {
    width: clamp(10rem, 7.8571rem + 10.7143vw, 17.5rem);
    height: auto;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;

    @media (max-width: 922px) {
      display: none;
    }

    li {
      a {
        text-decoration: none;
        font-size: 18px;
        color: $color-gray;
        transition: all 0.3s ease-in-out;

        &::after {
          content: "";
          display: block;
          width: 0%;
          height: 2px;
          background-color: darken($color-blue, 10%);
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          color: darken($color-blue, 10%);

          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .button {
    border: none;
    background-color: $color-blue;
    color: $color-white;
    font-family: "Goldman", sans-serif;
    width: 140px;
    height: 45px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @media (max-width: 922px) {
      display: none;
    }

    &:hover {
      scale: 0.96;
      background-color: darken($color-blue, 10%);
      box-shadow: 2px 2px 6px #000000e0;
    }
  }
}
