@use "../../../styles/variables" as *;


.footer {
  color: $color-white;
  font-family: Arial, sans-serif;
  width: 100%;
  box-sizing: border-box;
  font-family: "Goldman", sans-serif;

  .footer_content_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 8px;
    gap: 20px;
    background-color: $color-blue;
    padding: 24px 5vw ;
  }

  .footer_brand {
    flex: 2;
    min-width: 250px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;

    .footer_logo {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      svg {
        margin-right: 10px;
        fill: $color-white;
      }

      span {
        font-weight: bold;
        font-size: 1.2em;
      }
    }

    .footer_description {
      font-size: 0.9em;
      line-height: 1.5;
      color: rgba($color-white, 0.8);
    }
  }

  .footer_section {
    flex: 1;
    min-width: 150px;
    margin-bottom: 20px;

    h3 {
      font-size: 1.1em;
      margin-bottom: 20px;
      position: relative;
      padding-bottom: 5px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 60px;
        height: 2px;
        background-color: $color-white;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;

        a {
          color: $color-white;
          text-decoration: none;
          font-size: 0.9em;

          &:hover {
            color: $color-gray;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer_social {
    min-width: 150px;
    .social_icons {
      display: flex;
      gap: 15px;

      a {
        color: $color-white;
        font-size: 1.5em;
        transition: color 0.3s ease;

        &:hover {
          color: $color-gray;
        }
      }
    }
  }

  .footer_copyright {
    text-align: center;
    font-size: 1em;
    color: rgba($color-white, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    color: $color-blue;
    padding: 20px;

    a{
        text-decoration: none;
        color: $color-gray;
    }

    span{
        font-size: 0.8em;
        color: $color-blue;
    }
  }

}